.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    
  }
  
  .settings {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    background-color: white;
    color: black;
    border-radius: 5px;
  }
  .MuiMenu-paper {
    /* flex-direction: column; */
    width: 150px;
    padding: 5px
  }

  
  @media (max-width: 800px) {
    .content {
      flex-direction: column-reverse;
      align-items: center;
    }
    .banner {
      width: 85%;
      padding: 0;
      padding-top: 20px;
    }
    .settings {
      width: 100%;
    }
  }
  
  .settings__select {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    flex: 0.8;
    justify-content: space-evenly;
  }
  li.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button {
    margin: 4px;
    border: 1px solid black;
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    position: relative !important;
}
.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  position: absolute !important;
  top: 26rem !important;
  
}
.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(14px, -17px) scale(0.75) !important;
  margin-bottom: 0.5rem !important;
  /* visibility: hidden; */
}