:root {
  --primary-color: #00ff95;
  --dark-color: #222222;
  --light-color: #f0f0f0;
}

/* Scroll Bar Customization */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--primary-color);
}
::-webkit-scrollbar-thumb:hover {
  background: #00c774;
}

::-webkit-scrollbar-track:hover {
  background: rgb(188, 185, 185);
}

body {
  height: 100%;
  background-color: var(--dark-color) !important;
}

* > * {
  font-family: "Poppins", sans-serif;
}

.container-main {
  display: block;
  position: relative;
  margin: 40px auto;
  height: auto;
  width: 800px;
  /* padding: 20px; */
}

.container-main .title {
  font-size: 3em;
  text-align: center;
  border: 5px solid var(--primary-color);
  padding: 0.3em 0.2em;
  border-radius: 4px;
}

@media screen and (max-width: 786px) {
  .container-main .text-light{
    width: 100%;
    font-size: 15px;
  }
  .container-main{
    width: 95%;
  }
  
}

.text-light {
  color: var(--light-color);
}

.Mainbox {
  margin-top: 2rem !important;
}

.container-main ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.container-main .questions {
  padding: 3em;
}

.container-main .grid {
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-main .btn {
  padding: 0.2em 1.7em;
  border: none;
  background-color: #00ff95;
  border-radius: 0.1em;
  font-size: 1.2em;
}

.container-main .btn:hover {
  cursor: pointer;
  background-color: #00c774;
  color: #202020;
}

.next {
  background-color: var(--primary-color) !important;
  justify-self: flex-end;
}

.prev {
  background-color: #faff5a !important;
  justify-self: flex-start;
}

ul li {
  color: #aaaaaa;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #333;
}

ul li input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

ul li label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label {
  color: #ffffff;
}

ul li .check {
  box-sizing: content-box;
  display: block;
  position: absolute;
  border: 5px solid #aaaaaa;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}

ul li:hover .checked {
  border: 5px solid #ffffff;
}

ul li .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
  left: 5px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type="radio"]:checked ~ .check {
  border: 5px solid var(--primary-color);
}

input[type="radio"]:checked ~ .check::before {
  background: var(--primary-color);
}

input[type="radio"]:checked ~ .text-primary {
  color: var(--primary-color);
}

/* To get selected option we are using this checked class */
.checked {
  border: 5px solid var(--primary-color) !important;
}

.checked::before {
  background: var(--primary-color);
}
.login,
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  width: 350px;
  background-color: transparent;
  border-radius: 10px;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  border: 1px solid var(--primary-color);
  backdrop-filter: blur(15px);
  color: white;
  padding: 20px 30px;
  box-shadow: 8px 8px 20px #31483f;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box input {
  width: 100%;
  margin-top: 1rem;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.15em;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 5px 5px;
  border-radius: 8px;
  outline: none;
  box-shadow: 4px 4px 4px rgba(188, 188, 188, 0.2) inset;
}
.wrapper .input-box input::placeholder {
  color: lightgray;
}

.wrapper .remember-forget {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  /* padding: 3px 4px; */
}

.wrapper .remember-forget input {
  accent-color: var(--primary-color);
}

.wrapper .remember-forget label input {
  accent-color: #fff;
  margin: 3px;

  /* caret-color: white; */
}
textarea:focus,
input:focus {
  color: #ffffff;
}

input,
select,
textarea {
  color: #f7f7f7;
}

.wrapper .remember-forget a {
  text-decoration: none;
  color: #fff;
}

.wrapper .remember-forget a:hover {
  text-decoration: underline;
}

.wrapper .register-link {
  margin: 10px 0;
  display: block;
  text-align: center;
  font-size: 15px;
}

.wrapper .register-link a {
  text-decoration: none;
  color: #979696;
}

.wrapper .register-link a:hover {
  text-decoration: underline;
}

.wrapper .Login-btn {
  cursor: pointer;
  width: 100%;
  font-weight: 600;
  margin-top: 1rem;
  font-size: 15px;
  letter-spacing: 0.15em;
  border: transparent;
  padding: 5px 5px;
  border-radius: 5px;
  outline: none;
  color: black;
}

.wrapper .Login-btn:hover {
  background-color: rgb(220, 217, 217);
}
.landing-wrapper {
  margin-top: 5rem;
  color: white;
  background-color: #222222;
  /* height: 100vh !important; */
}
.landing-wrapper h1 {
  /* font-size: 30px; */
  font-weight: 600;
  letter-spacing: 0.12em;
}
.landing-wrapper h2 {
  /* font-size: 30px */
  font-weight: 600;
  letter-spacing: 0.12em;
}

.get-started {
  background-color: #00c774 !important;
  /* color: black !important; */
  border: transparent !important;
  outline: none !important;
  transition: transform 0.2s ease-in-out !important;
}

.get-started:hover {
  transform: scale(1.05);
}

.mobile-btn {
  visibility: hidden !important;
}

.pc-btn {
  visibility: visible;
}

@media screen and (max-width: 480px) {
  .mobile-btn {
    visibility: visible !important;
  }
  .pc-btn {
    visibility: hidden !important;
  }
}
